<form action="/articles/<%= @article.id %>" method="post">

  <input id="hidden" type="hidden" name="_method" value="patch">

  <p><label for="title">Article Title:</label>
  <input type="text" name="title" id="<%= @article.title %>" value="<%= @article.title %>"></p>
  <p><label for="content">Article Content:</label>
  <input type="text" name="content" id="<%= @article.content %>" value="<%= @article.content %>"></p>

  <input type="submit" name="submit" value="submit">
</form>
